html {
  background-color: #c13b2c;
}

body {
  margin:0;
}

.main-background {
  background-image: url('../image/flow-left.jpg');
  background-size: cover;
  background-color: #c13b2c;
  height: 525px;
  position:relative;
  background-position:50% 50%;
  width: 100%;
}

.header{
  background-color:#c13b2c;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.logoNav{
  margin: auto 0;
  width:280px;
  box-shadow:4px 3px #8f2017;
  flex: 0 1 auto;
}

.logoNav img {
  width: 100%;
}

.header-Flower-left{
  background-image: url('../image/left.png');
  height: 150px;
  flex: 0 1 auto;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-Flower-right{
  background-image:url('../image/right.png');
  height: 150px;
  flex: 0 1 auto;
  width:200px;
  background-repeat: no-repeat;
  background-size: cover;

}
.navigationTabs{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;

}

.navigationTabs a {
  flex: 0 1 auto;
  height: 23px;
  background: #515151;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px #727272 inset,0px 2px 0px #000000;
}
